//Scss Variables related settings
$primary-color: #fa0f26;
//corresponding RGB value - rgb(250, 15, 38);
$secondary-color: #16b800;
//corresponding RGB value - rgb(22, 184, 0);
$whitesmoke: whitesmoke;

$dark-blue: #1002cc