@use "./variables" as variable;

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cardImage {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.cardForm {
    flex: 1;
    overflow: hidden;
    position: relative;
}

.imageContainer {
    padding: 12vmin 5vmin 5vmin 6vmin;
    //Position is - top, right, bottom, left
    z-index: 10;
    position: relative;
    min-height: 100vmin;
    display: flex;
    //By default, every element has a position of static. z-index only works on positioned elements only 
    //(i.e on relative, absolute, fixed, sticky etc. only). So for that reason only we have used "position: relative".
}

.innerContainer {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0vh;
    border: 3vmin solid variable.$secondary-color;
    margin: 20px;
    border-radius: 5vmin;
    padding: 8vmin;
}

.title{
    font-family: "Kaushan Script";
    font-size: 5vmin;
    font-weight: 700;
    border-bottom: 6px solid variable.$primary-color;
    width: max-content;
    margin-bottom: 6vh;
    margin-top: -1vh;
}

.form {
    padding-bottom: 3vmin;
    display: flex;
    flex-wrap: wrap;
}

.inputS {
    height: 8vmin;
    padding-left: 10px;
    margin-bottom: 3vmin;
    font-size: 2.75vmin;
    font-family: sans-serif;
}

@media only screen and (min-width: 781px) {
    .inputS {
        flex: 1;
    }
    .inputS:first-child {
        margin-right: 0.5vmin;
    }
}

@media only screen and (min-width: 781px) {
    .inputS {
        width: 100%;
    }
}

.inputL {
    width: 100%;
    height: 8vmin;
    padding-left: 10px;
    margin-bottom: 3vmin;
    font-size: 2.75vmin;
    font-family: sans-serif;
}

.textarea {
    width: 100%;
    padding: 10px 5px 10px 10px;
    margin-bottom: 3vmin;
    font-size: 2.75vmin;
    font-family: sans-serif;
}

.button {
    margin-top: 3vmin;
    padding: 2vmin;
    border: none;
    border-radius: 5vmin;
    color: variable.$whitesmoke;
    background-color: variable.$primary-color;
    width: 100%;
    font-size: 3vmin;
    font-weight: 600;
    cursor: pointer;
}

.authLink {
    font-weight: bold;
    color: variable.$primary-color;
    text-decoration: underline;
}

.authLinkContainer {
    font-weight: bold;
    padding-top: 3vmin;
    padding-bottom: 1vmin;
}