@use "./variables" as variable;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-body {
  width: 100%;
  min-height: calc(100vh - 50px);
}

.circle {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  position: absolute;
  background-color: variable.$primary-color;
}

