@use "./variables" as variable;
/*
//Another way to divide screen into two equal parts.
.container {
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.card {
    float: left;
    width: 50%;
    position: relative;
    z-index: 10;
}
*/

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.card {
    flex: 1;
    position: relative;
    z-index: 10;
}

.brandContainer {
    padding: 20vmin 5vmin 10vmin 15vmin;
}

.brand {
    font-family: "Kaushan Script";
    font-size: 9vmin;
    letter-spacing: 0.4vmin;
    color: variable.$primary-color;
}

.tagline {
    font-family: "Kaushan Script";
    font-size: 7vmin;
    color: variable.$secondary-color;
}

.desc {
    font-size: 4vmin;
    margin-bottom: 4vmin;
}

.button {
    border: none;
    background-color: variable.$primary-color;
    color: variable.$whitesmoke;
    font-size: 3vmin;
    min-width: 10vmin;
    font-weight: bold;
    padding: 2vmin 4vmin;
    border-radius: 4vmin;
    cursor: pointer;
    // box-shadow: 0 4px 12px 0 rgba(250, 15, 38, 0.9);
    // transition: 0.3s;
}

.imageContainer {
    padding: 15vmin 5vmin 15vmin 0vmin;
}
