<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    <style>
        .view-btn {
           background-color: #2ACAEA;
           font-weight: 900;
           padding: 10px 15px ;
           font-size: large;
           color: white;
           border: none;
           border-radius: 10px;
        }
    </style>
</head>
<body>
<span th:text="${message}"></span>
<div th:if="${url}">
<a th:href="${url}"><button class="view-btn" th:text="${buttonName} ?: 'View'"></button></a>
</div>
</body>
</html>